@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --primary-color: red;
  --secondary-color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  color: var(--secondary-color);
}

.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: min(100%, 120rem);
  height: 100dvh;
  margin-inline: auto;
  padding: 0.4rem 1.6rem 1.6rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 120rem);
}

.logo-head {
  display: flex;
  align-items: center;
}

.top-section .logo-head img {
  height: 5.5rem;
  width: 3.6rem;
  object-fit: cover;
}

.top-section p {
  color: var(--primary-color);
  font-weight: 600;
}

.owner {
  font-weight: 600;
}

.fname {
  padding-left: 1rem;
}

.fname,
.lname {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: min(100%, 120rem);
  height: 100dvh;
}

.mid-left {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
}

.mid-left p {
  font-size: 1.2rem;
}

.gh {
  color: var(--primary-color);
}

.mid-image-section img{
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4rem;
}
@media screen and (min-width: 48rem) {
  .footer{
    gap: 10rem;
  }
}

.nav-links {
  writing-mode: vertical-lr;
  display: flex;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
.nav-links{
  gap: 5rem;
}
}


.nav-links a {
  color: var(--secondary-color);
}

.nav-links a:hover {
  color: var(--primary-color);
}

.icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  width: 1.2rem;
  height: 1.2rem;
}