*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;

}

body{
  background-color: black;
}

:root{
  --primary-color: red;
  --secondary-color: white;
}

.container{
  max-width: 120rem;
  height: 100vh;
  padding: 1rem 1.5rem;
  position: relative;
  background-color: black;
}

.top-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-section .logo-head{
  display: flex;
  align-items: center;
}

.top-section .logo-head img{
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
}

.top-section p{
  color: var(--primary-color);
  line-height: 1.4;
}

.fname{
  padding-left: 1rem;
}


.mid-section {
  position: absolute;
  top: 50vh;
  right: 0;
  transform: rotate(90deg);
}


 
.nav-links{
  display: flex;
  margin-left: -12rem;
  gap: 3.5rem;
}

.nav-links a{
  color: var(--secondary-color);
}

.image-section{
  margin: auto;
  width: 43.8125rem;
  height: 39.125rem;
}

.image-section img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.footer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer p{
  color: var(--secondary-color);
  line-height: 1.4;
}

.in{
  color: var(--primary-color);
}

.footer img{
  height: 15px;
  width: 15px;
}

.icons{
  display: flex;
  gap: 0.75rem;
}